.wrapper {
	margin: 0 auto;
	max-width: 800px;
}

.pageContainer {
	padding: 16px;
	display: grid;
	gap: 16px;
}

.pageContainer h2 {
	font-size: 1.2rem;
	border-bottom: 1px solid var(--foreground);
}

.header {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.titleBlock {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.imageBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row: 1 / 3;
}

.descriptionBlock {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.aliasBlock {
	font-size: 0.9rem;
	opacity: 0.8;
}

.alias {
	margin-left: 4px;
	font-weight: 600;
}

.description {
	white-space: pre-wrap;
	line-height: 1.5;
	padding: 0.6rem 1rem;
	border: 1px solid #444;
	border-radius: 0.5rem;
	background-color: #3c4b56;
}

.statsBlock {
	display: flex;
	justify-content: space-between;
	gap: 0.6rem;
	width: 80%;
}

.statItem,
.statTension {
	display: flex;
	align-items: baseline;
	gap: 0.4rem;
	font-size: 0.85rem;
}

.statItem div {
	white-space: nowrap;
}

.statTension {
	color: #f08030;
	opacity: 0.9;
}

.statValue {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-family: var(--font-bruno-ace-sc), sans-serif;
}

.statTension .number,
.statItem .number {
	font-size: 1.5rem;
	font-weight: 600;
}

.infoGrid {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 2fr;
}

.abilityGrid {
	display: grid;
	gap: 16px;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.buildInfo {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 1rem;
}

.buildHeader {
	display: flex;
	align-items: center;
	gap: 8px;
}

.buildDescription {
	margin-left: 1.5rem;
	white-space: pre-wrap;
	line-height: 1.5;
}

.buildNote {
	font-size: 0.9rem;
	opacity: 0.7;
}

.miscInfoBlock {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.miscInfoBlock .cell,
.miscInfoBlock .largeCell {
	padding: 8px;
	border: 1px solid #444;
	border-radius: 0.5rem;
	background-color: #27272c;
	text-align: center;
}

.miscInfoBlock .cell h2,
.miscInfoBlock .largeCell h2 {
	margin: 0 0 4px 0;
	font-size: 1rem;
	border-bottom: 1px solid var(--foreground);
	padding-bottom: 4px;
}

.miscInfoBlock .cell div,
.miscInfoBlock .largeCell div {
	opacity: 0.8;
	margin: 1rem
}

.miscInfoBlock .largeCell {
	grid-column: span 2;
}

@media (max-width: 768px) {
	.header {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}

	.imageBlock {
		grid-row: 1;
		justify-self: center;
		margin-top: 0;
	}

	.statsGrid {
		grid-template-columns: minmax(280px, 1fr);
		grid-template-rows: repeat(2, 2.5rem auto);
	}

	.nameBlock {
		justify-self: center;
	}
}