.main {
	padding: 16px 1rem;
}

.title {
	font-size: 2rem;
	margin-bottom: 16px;
	width: 100%;
	text-align: center;
}

.topLink {
	display: block;
	align-self: flex-start;
	font-size: 0.9rem;
	margin: 1rem auto;
	color: #7fbfff;
	width: 100%;
	max-width: 70rem;
}