.searchForm {
	display: flex;
	margin: 16px auto;
	flex-wrap: wrap;
	gap: 16px;
	align-items: flex-end;
	margin-bottom: 16px;
	max-width: 800px;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;
	width: 100%;
}

.inputs {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	flex: 1 1 auto;
	align-items: center;
}

.inputs label,
.inputs .labelWrap {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	color: #aaa;
	gap: 0.2rem;
}

.textSearch {
	flex: 1 1 100%;
}

.textSearch input {
	margin-top: 4px;
	padding: 6px 8px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.inputs select {
	padding: 6px 8px;
	font-size: 0.8rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #222;
	color: #eee;
	cursor: pointer;
}

.inputs select:hover {
	border-color: #888;
}

.inputs select:focus {
	outline: none;
	border-color: #fff;
}

.inputs select:disabled {
	border-color: #444;
	color: #666;
	cursor: not-allowed;
}

.inputs select:disabled:hover {
	border-color: #444;
}

.inputs select option {
	cursor: pointer;
	background-color: var(--background);
	color: var(--foreground);
}

.workSelect select {
	font-size: clamp(0.55rem, 2vw, 0.8rem);
}

.effectOptions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 100px;
	overflow-y: auto;
	padding-right: 4px;
}

.effectOptions label {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	font-size: 0.9rem;
	padding: 5px 7px;
	color: var(--foreground);
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	margin-top: 8px;
	width: 100%;
}

.buttons button {
	padding: 8px 16px;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.buttons button:hover {
	background-color: #666;
}

.buttons button:disabled {
	background-color: #222;
	color: #666;
	cursor: not-allowed;
}