.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	text-align: center;
}

.title {
	font-size: 24px;
	margin-bottom: 16px;
}

.playerTableContainer {
	width: 100%;
	overflow-x: auto;
}

.playerTable {
	display: grid;
	text-align: center;
	margin: 16px auto;
	grid-template-rows: auto 1fr;
	border: 1px solid #333;
	border-radius: 8px;
	overflow: hidden;
	width: fit-content;
}

.pTableHeader {
	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 8px 12px;
	border-bottom: 1px solid #222;
	grid-template-columns: 2rem 60px 18rem 2rem 5rem 2.5rem 8rem 8rem 12rem;
}

.pTableHeader div {
	font-size: 0.8rem;
}

.pTableBody {
	height: 80vh;
	overflow: auto;
}

.pTableRow {
	width: 100%;

	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 0 12px;
	border-bottom: 1px solid #1f1f1f;
	box-sizing: border-box;

	grid-template-columns: 2rem 60px 18rem 2rem 5rem 2.5rem 8rem 8rem 12rem;
}

.pTableRow:hover {
	background: #26272d;
}

.numberCell {
	white-space: nowrap;
	color: #666;
	font-size: 0.8rem;
}

.iconCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buildCell {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}

.categoryCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
	font-size: 0.9rem;
}

.categoryCell .categoryItem {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.affiliationCell {
	font-size: 0.9rem;
}

.playerImage {
	position: sticky;
	left: 0;
	background: var(--background);
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name, .nickname {
	white-space: nowrap;
}

.name {
	font-weight: bold;
}

.nickname {
	font-size: 0.75rem;
	color: #666;
}

.zoomInImage {
	border: 4px solid #666;
	border-radius: 8px;
	background: #0a0a0a;
	padding: 8px;
}