.playerTableScrollArea {
	width: 100%;
	overflow-x: auto;
}

.playerTables {
	width: fit-content;
	display: flex;
	gap: 12px;
	align-items: center;
	margin: 0 auto;
}

.playerTable,
.numberTable {
	display: grid;
	text-align: center;
	grid-template-rows: auto 1fr;
	border: 1px solid #333;
	border-radius: 8px;
	overflow: visible;
	width: fit-content;
}

.pTableHeader,
.nTableHeader {
	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 8px 12px;
	border-bottom: 1px solid #222;
	font-size: 0.8rem;
}

.pTableHeader {
	grid-template-columns: 2rem 60px 18rem 2rem 5rem 2.5rem 8rem 8rem 15rem;
}

.nTableHeader {
	white-space: nowrap;
}

.iconHeader {
	position: sticky;
	left: 0;
	background: var(--background);
	z-index: 4;
	width: 100%;
	height: 100%;
}

.pTableBody {
	height: 80vh;
	overflow: auto;
}

.pTableRow,
.nTableRow {
	width: 100%;

	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 0 12px;
	border-bottom: 1px solid #1f1f1f;
	box-sizing: border-box;
	position: relative;
}

.pTableRow {
	grid-template-columns: 2rem 60px 18rem 2rem 5rem 2.5rem 8rem 8rem 15rem;
}

.nTableRow {
	height: 61px;
	min-width: 5rem;
}

.pTableRowHovered,
.nTableRowHovered {
	background: #26272d;
}

.numberCell {
	white-space: nowrap;
	color: #666;
	font-size: 0.8rem;
}

.iconCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buildCell {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}

.categoryCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
	font-size: 0.9rem;
}

.categoryCell .categoryItem {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.affiliationCell {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
	font-size: 0.9rem;
}

.playerImage {
	position: sticky;
	left: 0;
	background: var(--background);
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.playerImage img {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
}

.name, .nickname {
	white-space: nowrap;
}

.name {
	font-weight: bold;
}

.nickname {
	font-size: 0.75rem;
	color: #666;
}

.zoomInImage {
	border: 4px solid #666;
	border-radius: 8px;
	background: #0a0a0a;
	padding: 8px;
}

.loadingArea {
	display: flex;
	justify-content: center;
	padding: 12px;
}

.loadingText {
	opacity: 0.6;
}