:root {
	--background: #17181b;
	--foreground: #ededed;
}

html {
	--radar-icon-filter: invert(1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
	font-size: clamp(14px, 1.5vw, 16px);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
		--radar-icon-filter: none;
  }
}
