.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	text-align: center;
}

.title {
	font-size: 24px;
	margin-bottom: 16px;
}

.playerTableContainer {
	width: 100%;
	overflow-x: auto;
}

.playerTable {
	display: grid;
	margin: 16px auto;
	grid-template-rows: auto 1fr;
	border: 1px solid #333;
	border-radius: 8px;
	overflow: hidden;
	width: fit-content;
}

.pTableHeader {
	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 8px 12px;
	border-bottom: 1px solid #222;
	grid-template-columns: 60px 18rem 3rem repeat(2, 2rem) 5.5rem repeat(10, 2.5rem);
}

.pTableHeader div {
	font-size: 0.8rem;
}

.pTableBody {
	height: 80vh;
	overflow: auto;
}

.pTableSpacer {
	position: relative;
}
.pTableRow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;

	display: grid;
	align-items: center;
	gap: 0.6rem;
	padding: 0 12px;
	border-bottom: 1px solid #1f1f1f;
	box-sizing: border-box;

	grid-template-columns: 60px 18rem 3rem repeat(2, 2rem) 5.5rem repeat(10, 2.5rem);
}

.pTableRow:hover {
	background: #f0f0f0;
}

.playerImage {
	position: sticky;
	left: 0;
	background: white;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name, .nickname {
	white-space: nowrap;
}

.name {
	font-weight: bold;
}

.nickname {
	font-size: 0.75rem;
	color: #666;
}

.zoomInImage {
	border: 4px solid #333;
	border-radius: 8px;
	background: white;
	padding: 8px;
}

@media (prefers-color-scheme: dark) {
	.pTableRow:hover {
		background: #1a1a1a;
	}
	.playerImage {
		background: #0a0a0a;
	}
	.zoomInImage {
		background: #0a0a0a;
		border-color: #666;
	}
}