.topButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;

	width: 3rem;
	height: 3rem;

	background-color: #0081f1;
	border: none;
	border-radius: 50%;

	color: white;
	font-size: 1rem;

	cursor: pointer;
}

.topButton:hover {
	background-color: #00a1ff;
}